:root {
    --color-white-1: #FFFFFF;
    --color-light-grey: #F7F7F7;
    --color-grey: #A5A5A5;
    --color-black: #000000;
    --color-green: #55DFB4;
    --color-redish: #FB3B64;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-primary: #A8A6E4;
}
html {
    font-family: 'Open Sans', sans-serif;
    /*font-family: 'Raleway', sans-serif;*/
    height: 300vh;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.header-page-and-banner{
    background-image: url("../assets/Background.png");
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100vw;
    height: 90vh;
}

.header-page {
    width: 100vw;
    background-color: var(--color-white-1);
    box-shadow: 0px 3px 6px #00000029;

}
.container {
    display: flex;
    justify-content: center;
    max-width: 1352px;
    margin: 0 auto;
}
.nav-name-page {
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    line-height: 37px;
    color: #08A6E4;

}
.best-shop{
    padding: 18.5px;
}
.nav-menu-header{
    display: flex;
    justify-content: space-between;
    justify-items: right;
    padding-left: 650px;
    gap: 5px  ;
}
li a {
    padding: 28px 0 27px 0;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    margin: 0 25px;
    font-size: 11px;
    font-weight: bold;
    line-height: 15px;
    text-align: center;
    letter-spacing: 3px;
    color: var(--color-grey);
}
li a:hover {
    border-bottom: 4px solid #08A6E4;
}

.header-page-h1{
    margin-top: 130px;
    font-size: 49px;
    font-family: Raleway, sans-serif;
    line-height: 57px;
    text-align: center;
}
.header-page-p {
    margin-top: 20px;
    line-height: 22px;
    text-align: center;
}
.header-page-button{
    color: var(--color-white-1);
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding: 22px 150px 22px 150px;
    background-color: #08A6E4;
    line-height: 22px;
    border-radius: 40px;
    text-decoration: none;
    margin-top: 35px;
}

.text-statistics{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    font-size: 36px;
    line-height: 42px;
}
.statistics-box{
    display: flex;
    justify-content: center;
}

.circle-statistics{
    background-color: blue;
    width: 65px;
    height: 65px;
    border-radius: 40px;
    text-align: center;
}

.circle-go-away{
    margin-left: 40px ;
}
.circle-statistics1{
    background-color: #FB3B64;
    right:40%;
}
.circle-statistics2{
    background-color: #08A6E4;
}
.circle-statistics3{
    background-color: var(--color-green);
}
.img-statistics-cricle1{
    margin-left: -10px;
}
.img-statistics-cricle2{
    margin-top: 14px;
    margin-left: -13px;
}
.img-statistics-cricle3{
    margin-top: 5px;
    margin-left: -10px;
}

.statistics-page-box{
    padding-top: 50px;
    margin: 140px;
    width: 100px;
    height: 100px;
    align-items: center;
}
.text-statistics1{
    margin-left: -25px;
    letter-spacing: 6px;
    padding-top: 15px;
    font-size: 20px;
    font-weight: bold;
    font-family:  'Raleway', sans-serif;
}
.text-statistics-under{
    margin-left: -35px;
    width: 150px;
    text-align: center;
    color: var(--color-grey);
    padding-top: 20px;
    line-height: 20px;
    font-family: Raleway, sans-serif;
}
.page-benefits-column{
    background-color: #F7F7F7;
}
.column-benefits1,
.column-benefits2,
.column-benefits3 {
    min-height: 400px;
    min-width: 1200px;
    margin: 40px 0;
    background-color: #FFFFFF;
}
.img-iphone{
    float: left;
}
.img-macbook,
.img-trumpet{
    float: right;
    padding: 110px 80px 40px 0;
    background-color: #55DFB4;

}
.img-iphone{

    padding: 110px 0px 40px 80px;
    background-color: lightseagreen;

}

.img-benefits{
    min-width: 400px;
    max-height: 250px;
}
.main-text-benefits{
    padding-bottom: 20px;
    font-family: Raleway;
    font-size: 36px;
    line-height: 42px;
    max-width: 250px;
}
.benefits-float2{
    padding: 90px 120px 100px 40px;
    float: right;
    max-width: 500px;
}

.benefits-float1,
.benefits-float3{
    padding: 90px 0 140px 120px;
    max-width: 500px;
    float: left;
}
.text-p-benefits{
    padding-right: 50px;
}
.border-benefits{
    padding-bottom: 40px;
    border-bottom: 5px solid #55DFB4;
    max-width: 300px;
}